*{
    margin: 0;
    padding: 0;
}

.navigation {
    width: 100%;
    height: 60px;
    float: left; 
    background: rgb(238,110,115); 
   
            }

.navigation li {
    list-style: none;
     margin-top: 24px;
     float: left; 
       
}
    .navigation li a {
    color: white;
    font-family: Verdana, Arial, Helvatica, sans-serif; 
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
    
       }

.navigation ul {
    margin-left: 490px;
}
.main  {
    width: 100%;
/*    height: 1830px;*/
    height: 2014px;
    background: url(images/frame2.png) no-repeat;
    background-size: 100%;
    margin-right: 0;
    float: left;
    

   }
 
 .screen1, .screen2 {
   text-align: center;
    margin: 60px;
   text-align: center;
   font: Verdana, Arial, Helvatica, sans-serif;
   color: #1a2853;   
}
.head h5 {
  text-align: center;
   padding-top: 180px;
   font: 32px Verdana, Arial, Helvatica, sans-serif;
   color: #1a2853;     
}
.footer {
    width: 100%;
    height: auto;
    float: left;
    background: rgb(238,110,115);
    
}
.container1{
   float: left;
   padding: 10px;
   margin-top: 10px;

}
   
.container2 {
    float: left;
    padding: 15px;
    margin-top: 10px;
    margin-left: 270px;
 
}
.icon1, .icon2, .icon3{ 
    float: right;
    margin-top: 50px;
    padding: 5px; 
}
